<p id="notice"><%= notice %></p>

<h1>People</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Phone</th>
      <th>Email</th>
      <th>Address</th>
    </tr>
  </thead>

  <tbody>
    <% @people.each do |person| %>
      <tr>
        <td><%= person.name %></td>
        <td><%= person.phone %></td>
        <td><%= person.email %></td>
        <td>
          <div><%= person.street %></div>
          <div><%= person.city %>, <%= person.zip %></div>
          <div><%= person.country %></div>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%# link_to 'New Person', new_person_path %>
